extends ../index

block styles
    link(rel='stylesheet' href='/styles/client/' + key + '.css')
    block ownStyles

block scripts
    block ownScripts
    script(type="text/javascript" src="/scripts/client/" + key + ".js")
