.user {
  display: inline-block;
  color: #777;
  line-height: 50px;
  font-weight: bold;
}
.user-div {
  margin-right: 30px;
}
.user-div a {
  color: #777;
  text-decoration: none;
}
.user-div a:hover,
.user-div a:focus {
  color: black;
}
.user-left {
  margin-left: 50px;
}
